<!DOCTYPE html>
<html lang="en" ng-app="superHeroApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="superHeroCtrl as vm">
  <input type="text" ng-model="searchBox">
<div ng-repeat="hero in vm.heroes | filter:searchBox">
  <p ng-class= "hero.universe"> {{hero.name}}</p><button ng-click="showImg = !showImg"></button>
  <img ng-src="{{hero.img_url}}" ng-show="showImg">
</div>
</body>
</html>
